services:
  my-game-server:
    image: alpine:latest
    command: tail -f /dev/null
    container_name: my_game_server
    # configure volumes/ports as you normally would for your server

  discord-bot:
    image: brandonh317/discord-docker-bot:latest
    container_name: discord_bot
    environment:
      - BOT_TOKEN
      - ALLOWED_CONTAINERS
      - DEFAULT_ALLOWED_ROLES
      - CONTAINER_MESSAGE_CMD
      - STATUS_PORT
      - DOCKER_MAX_WORKERS
      - SHUTDOWN_DELAY
      - LOG_LEVEL
      - DISCORD_GUILD_ID
      - PERMISSIONS_FILE
      - LOG_FILE
      - ANNOUNCE_CHANNEL_ID
      - ANNOUNCE_ROLE_ID
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Defaults to rw, required for start/stop
      - ./data:/app/data
    restart: unless-stopped
    ports:
      - "8000:8000" # status endpoint
