{
  "announce": [
    "ServerAdmin"
  ],
  "history": [
    "ServerAdmin"
  ],
  "logs": [
    "ServerAdmin"
  ],
  "maintenance": [
    "ServerAdmin"
  ],
  "restart": [
    "ServerAdmin"
  ],
  "restart_now": [
    "ServerAdmin"
  ],
  "start": [
    "ServerAdmin"
  ],
  "stats": [
    "ServerAdmin"
  ],
  "stop": [
    "ServerAdmin"
  ],
  "stop_now": [
    "ServerAdmin"
  ]
}
